/* You can add global styles to this file, and also import other style files*/
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.550)) ,url('https://m.media-amazon.com/images/I/51yoTRS2bNL._AC_SY780_.jpg');
    background-size: cover;
    background-color: rgba(243, 233, 233, 0.87);
 }